.section__documentation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: $white;
    padding: 1.5rem;
  }
  
  @media screen and (max-width: 700px) {
    .section__documentation  {
      flex-wrap: wrap;
    }
  }
  
  .documentation__text {
    width: 40%;
    margin-right: 3rem;
  }
  
  @media screen and (max-width: 700px) {
    .documentation__text {
      width: 100%;
    }
  }