$font_family: "Montserrat", sans-serif;
$font_family2: "Sarabun", sans-serif;

$grey_background: #2B2E31;

$black_background: #161A21;
$grey_logoreturn: #95989A;

$white: #ffffff;
$yellow: #FDC332;
$grey_hover: #2B2E31;
$yellow_faq: #FED266;

$grey_card: #313336;
$grey_light: #707070;